/* styles.css */

body {
  background: radial-gradient(#ffb67a, #ffc5bf);
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 97px;
  font-weight: 100;
  font-family: 'Charm', serif;
  font-style: italic;
  color: #fff;
  white-space: nowrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.module {
  font-size: 20px;
  Font-weight: 100;
  font-style: italic;
  color: #fff;
  border-radius: 5px;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}

a {
  color: #fff;
  font-size: 25px;
  Font-weight: 100;
  display: block;
  margin-top: 5px;
  text-decoration: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  color: #fff;
  text-align: left;
  padding-left: 100px; /* about 1 inch on most screens */
  max-width: 600px;
  //margin: 0 auto; /* center the whole block horizontally */
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}
